<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="littleq.mammoth.com.littleq">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".application.LittleQApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.BuzhiActivity"
            android:label="@string/title_activity_buzhi"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.MainActivity"
	    android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.PigaiActivity"
            android:label="@string/title_activity_pigai"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.PigaiDetailActivity"
            android:label="@string/title_activity_pigai"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.MarkActivity"
            android:label="@string/title_activity_pigai"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.DeviceListActivity"
            android:label="@string/title_activity_devicelist"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.AddLeafActivity"
            android:label="@string/add_leaf"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>