<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="littleq.mammoth.com.littleq">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".application.LittleQApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.activity.BuzhiActivity"
            android:label="@string/title_activity_buzhi" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.activity.PigaiActivity"
            android:label="@string/title_activity_pigai" />
        <activity
            android:name=".ui.activity.PigaiDetailActivity"
            android:label="@string/title_activity_pigai" />
        <activity
            android:name=".ui.activity.MarkActivity"
            android:label="@string/title_activity_pigai" />
        <activity
            android:name=".ui.activity.DeviceListActivity"
            android:label="@string/title_activity_devicelist" />
        <activity
            android:name=".ui.activity.AddLeafActivity"
            android:label="@string/add_leaf" />
        <activity
            android:name=".ui.activity.EditUserInfoActivity"
            android:label="@string/title_activity_edituser"/>
        <activity
            android:name=".ui.activity.UserInfoActivity"
            android:label="@string/title_activity_userinfo"/>
        <activity android:name=".ui.activity.SchoolSearchActivity"
            android:label="@string/search_school"/>
        <activity android:name=".ui.activity.UserSettingActivity"
            android:label="@string/action_settings"/>
        <activity android:name=".ui.activity.UserAccountManageActivity"
            android:label="@string/user_account_manage"/>
        <activity android:name=".ui.activity.UserAccountBindingActivity"
            android:label="@string/user_account_binding"/>
        <activity android:name=".ui.activity.UserAccountMsgActivity"
            android:label="@string/user_msg"/>
        <activity android:name=".ui.activity.UserResetPwdActivity"
            android:label="@string/user_reset_pwd"/>
        <activity android:name=".ui.activity.UserLessonActivity"
            android:label="@string/user_lesson_class"/>
        <activity android:name=".ui.activity.UserClassActivity"
            android:label="@string/user_class_title_default"/>

        <receiver android:name=".receiver.LittleQReceiver" >
            <intent-filter>
                <action android:name="ittleq.mammoth.com.littleq.BOOT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>